/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu ul li a {
  padding: 35px 12px;
}

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
 .page-title h1 {
  font-size: 40px;
  line-height: 50px;
}
.single-page p {
  font-size: 15px;
}
.portfolio-item {
  width: 100%;
}
.copyright p {
  text-align: center;
}
.floatright {
  float: none;
  text-align: center;
}
 .portfolio-full .portfolio-item {
  width: 100%;
}
.single-blog-img {
  margin-bottom: 30px;
}
.logo {
  margin-top: 0;
}
.logo h3 {
  margin: 0;
}
.header-top-area {
  padding: 20px 0 15px;
}
.filter-menu {
  text-align: center;
}
.copyright {
  margin-bottom: 20px;
}
.portfolio-full-2 .portfolio-item {
  width: 100%;
}


}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
 